<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Lingfeng-bbben.MajSimai" version="2.0.6" manuallyInstalled="true" />
  <package id="ManagedBass" version="4.0.2" manuallyInstalled="true" />
  <package id="ManagedBass.Aac" version="4.0.2" manuallyInstalled="true" />
  <package id="ManagedBass.Asio" version="4.0.2" manuallyInstalled="true" />
  <package id="ManagedBass.Fx" version="4.0.2" manuallyInstalled="true" />
  <package id="ManagedBass.Mix" version="4.0.2" manuallyInstalled="true" />
  <package id="ManagedBass.Opus" version="4.0.2" manuallyInstalled="true" />
  <package id="ManagedBass.Wasapi" version="4.0.2" manuallyInstalled="true" />
  <package id="Microsoft.Extensions.Primitives" version="3.0.3" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" />
  <package id="NETStandard.Library" version="2.0.3" />
  <package id="NeoSmart.AsyncLock" version="3.2.1" manuallyInstalled="true" />
  <package id="PolySharp" version="1.15.0" manuallyInstalled="true" />
  <package id="QRCoder" version="1.7.0" manuallyInstalled="true" />
  <package id="Semver" version="3.0.0" manuallyInstalled="true" />
  <package id="System.Drawing.Common" version="5.0.3" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" />
  <package id="WebSocketSharp-netstandard" version="1.0.1" manuallyInstalled="true" />
</packages>