<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Lingfeng-bbben.MajSimai" version="2.0.3" manuallyInstalled="true" />
  <package id="ManagedBass" version="3.1.1" manuallyInstalled="true" />
  <package id="ManagedBass.Asio" version="3.1.1" manuallyInstalled="true" />
  <package id="ManagedBass.Fx" version="3.1.1" manuallyInstalled="true" />
  <package id="ManagedBass.Mix" version="3.1.1" manuallyInstalled="true" />
  <package id="ManagedBass.Wasapi" version="3.1.1" manuallyInstalled="true" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" />
  <package id="Microsoft.NETCore.Targets" version="1.1.0" />
  <package id="NETStandard.Library" version="1.6.1" />
  <package id="NeoSmart.AsyncLock" version="3.2.1" manuallyInstalled="true" />
  <package id="PolySharp" version="1.15.0" manuallyInstalled="true" />
  <package id="Semver" version="2.3.0" manuallyInstalled="true" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" />
  <package id="WebSocketSharp-netstandard" version="1.0.1" manuallyInstalled="true" />
</packages>