<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Lingfeng-bbben.MajSimai" version="2.0.6" manuallyInstalled="true" />
  <package id="Microsoft.Extensions.Primitives" version="3.0.3" />
  <package id="Nito.AsyncEx" version="5.1.2" manuallyInstalled="true" />
  <package id="Nito.AsyncEx.Context" version="5.1.2" />
  <package id="Nito.AsyncEx.Coordination" version="5.1.2" />
  <package id="Nito.AsyncEx.Interop.WaitHandles" version="5.1.2" />
  <package id="Nito.AsyncEx.Oop" version="5.1.2" />
  <package id="Nito.AsyncEx.Tasks" version="5.1.2" />
  <package id="Nito.Cancellation" version="1.1.2" />
  <package id="Nito.Collections.Deque" version="1.1.1" />
  <package id="Nito.Disposables" version="2.2.1" />
  <package id="PolySharp" version="1.15.0" manuallyInstalled="true" />
  <package id="QRCoder" version="1.7.0" manuallyInstalled="true" />
  <package id="Semver" version="3.0.0" manuallyInstalled="true" />
  <package id="System.Collections.Immutable" version="1.7.1" />
  <package id="System.Drawing.Common" version="5.0.3" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" />
  <package id="WebSocketSharp-netstandard" version="1.0.1" manuallyInstalled="true" />
</packages>